extends base
block nav
    +navbar("view")
block head
    link(rel="stylesheet" type="text/css" href="/css/view.css")
    title= meta.title

block body
    ul(class="nav nav-tabs nav-justified")
        -for(var i=1; i<=Number(meta.steps); i++)
            if i == curStep
                li.active: a(href=i)= i + " " + meta.steptitle[i]
            else
                li: a(href=i)= i + " " + meta.steptitle[i]
    //- for (var i=1; i<=Number(meta.steps); i++)
         if i == curStep
              h3.step= i + " " + meta.steptitle[i]
         else
             a(class="stepLink" href=i): p(class="step")= i + ' ' + meta.steptitle[i]
    div(class="div-arrow pull-right")
        if (curStep < meta.steps)
            a(href= ((parseInt(curStep)+1)).toString()): div.circle: span(class="glyphicon glyphicon-chevron-right")
    div(class="div-arrow pull-left")
        if (curStep > 1)
            a(href= (curStep-1)): div.circle: span(class="glyphicon glyphicon-chevron-left")
    div(class="container")
        div.tutorial
            != data

block script
